/*
	Template:	MyDay Admin Panel	
*/

// Vars
@c-bg 		: #f2f4f8;
@c-main		: #12131a;
@c-contrast : #1aae88;
@c-border 	: #ccc;
@c-txt 		: #999;
@c-txt-dark	: #333;
@c-txt-light: #fafafa;

@gutter		: 30px;
@gutter_sm	: ( @gutter / 2 );
@gutter_xsm	: ( @gutter / 3 );

@max-width 	: ( 1200px + ( @gutter_sm * 2 ) );

// Mixins
.clear() {
	clear: both;
	overflow: hidden;
	float: none;
}

.reset() {
	margin: 0;
	padding: 0;
}
 
.animate( @duration: .2s ) {
	-webkit-transition: all @duration ease-in-out;
	-moz-transition: all @duration ease-in-out;
	-o-transition: all @duration ease-in-out;
	transition: all @duration ease-in-out;
	-webkit-transform: translate3d( 0, 0, 0 );
}

* { box-sizing: border-box; }

// Style
body {
	background: url( '../img/bg.jpg' ) no-repeat top left;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: @c-txt-light;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;


	a {
		.animate();
	}

	p {
		line-height: 1.7em;
	}

	// Login form
	#login-form {
		background: #fff;
		overflow: hidden;
		margin-top: @gutter;

		h1 {
			.reset();
			padding: @gutter_sm @gutter;
			background: @c-main;
			font-size: 1.5em;
			color: #fff;
		}

		form {
			padding: @gutter;
			overflow: hidden;
		}

		button {
			float: right;
		}
		.checkbox {
			float: left;
		}
	}

	// Main container responsive fix
	#main-container {

		@media all and ( max-width: 992px ) {
			margin-top: 64px;
		}
	}
	// Main menu
	#menu-wrapper {
		padding: 0;
		background: @c-main;
		position: fixed;
		top: 74px;
		bottom: 0;

		@media all and ( max-width: 992px ) {
			position: absolute;
		}

		#main-menu {

			@media all and ( max-width: 992px ) {
				// display: none;
				position: fixed;
				top: 0;
				left: -17em;
				width: 17em;
				height: 100%;
				background: @c-main;
				z-index: 999;
				.animate();

				&.open {
					left: 0;
				}
			}

			#toggle_mobile_menu {
				display: none;
				position: absolute;
				width: 63px;
				height: 63px;
				text-align: center;
				line-height: 64px;
				color: @c-txt;
				right: -63px;
				font-size: 2em;
				cursor: pointer;
				top: 0;
				.animate();

				@media all and ( max-width: 992px ) {
					display: block;
				}

				&:hover {
					color: @c-txt-dark;
				}
			}

			ul {
				.reset();

				li {
					list-style: none;

					a {
						display: block;
						padding: @gutter_sm;
						color: @c-txt;
						.animate();
						border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );
						border-top: 1px solid rgba( 255, 255, 255, 0.2 );

						&:hover {
							text-decoration: none;
							background: @c-contrast;
							color: #fff;
						}

						span {
							padding-right: @gutter_xsm;
						}
					}
				}
			}
		}
	}

	#top-bar {
		overflow: hidden;
		padding: @gutter_sm 0;
		background-color: rgba(0, 0, 0, 0.25);
		border-bottom: 1px solid rgba(255,255,255, 0.25);
		position: fixed;
		width: 100%;
		z-index: 999;

		@media all and ( max-width: 992px ) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 64px;
		}

		#branding {
			float: left;

			@media all and ( max-width: 992px ) {
				display: none;
			}

			img {
				width: auto;
				height: 43px;
			}
		}
		#welcome {
			float: right;

			@media all and ( max-width: 992px ) {
				position: absolute;
				right: @gutter_sm;
				height: 64px;
				line-height: 64px;
				top: 0;
			}

			.user {
				margin-left: @gutter_sm;
			}

			img {
				height: 30px;
				width: auto;
			}	

			button {
				margin-left: @gutter_sm;
				.animate();
			}
		}
	}

	.content {
		padding: 0;
		// margin-left: 16.66666667%;
		margin-top: 74px;

		@media all and ( max-width: 992px ) {
			margin-left: 0;
			margin-top: 0;
		}

		#taskbar {
			padding: 0 0 @gutter_sm 0;
			margin: @gutter_sm 0 0 @gutter_sm;
			color: #fff;
			overflow: hidden;


			@media all and ( max-width: 992px ) {
				margin: @gutter_sm 0 0 0;
			}

			h1 {
				margin: 0;
				color: @c-txt;
				font-weight: 100;
				float: left;
				font-size: 24px;
			}
		}

		#main {
			clear: both;
			padding: @gutter_sm;
			background: #fff;
			margin: 0 0 @gutter_sm 16.66666667%;
			box-shadow: 0 1px 1px rgba(0,0,0,.05);

			@media all and ( max-width: 992px ) {
				margin: 0 0 @gutter_sm 0;
			}

			.buttons {
				float: right;
				padding: 0 0 @gutter_sm 0;
			}

			h2 {
				margin: 0;
				background: @c-main;
				color: #fff;
				font-size: 1em;
				padding: @gutter_sm;
			}

			h3 {
				font-size: 1em;
			}

			.required {
				color: #bc0000;
			}

			.must-have-class {
				background: @c-border !important;
			}

			.info-block {
				background: #fff;
				padding: @gutter_sm;
				margin: 0;
				overflow: hidden;
					border: 1px solid @c-border;


				p {
					margin: 0;
				}

				ul {
					margin: 0;
				}
			}

			.styled-table {
				width: 100%;
				border-collapse: collapse;
				border: 0;
				margin-bottom: 0;

				td, th {
					padding: @gutter_sm;
					background: #fff;
				}

				td {
					border: 1px solid @c-border;

					a {
						color: #222;
						display: block;
						text-decoration: none;
					}

				}

				th {
					background: @c-main;
					color: #fff;
					border: 1px solid @c-main;
				}
			}

			.form {
				background: #fff;
				padding: @gutter_sm;
				overflow: hidden;

				button {
					float: right;
				}

				#task_steps {
					padding-left: @gutter_sm;
				}
			}
		}
	}
}