/*
	Template:	MyDay Admin Panel	
*/

// Vars
@c-bg 		: #eeeff2;
@c-light-bg : #f7f8fa;
@c-main		: #33373c;
@c-light	: #41474f;
@c-main-2 	: #43484e;
@c-contrast	: #dc6161;
@c-border 	: #ccc;
@c-d-border : #2d3135;
@c-menu-txt : #88939d;

@gutter		: 40px;
@gutter_sm	: ( @gutter / 2 );
@gutter_xsm	: ( @gutter_sm / 2 );

// Mixins
.clear() {
	clear: both;
	overflow: hidden;
	float: none;
}

.reset() {
	margin: 0;
	padding: 0;
}
 
.animate( @duration: .2s ) {
	-webkit-transition: all @duration ease-in-out;
	-moz-transition: all @duration ease-in-out;
	-o-transition: all @duration ease-in-out;
	transition: all @duration ease-in-out;
	-webkit-transform: translate3d( 0, 0, 0 );
}

// Style
body {
	background: @c-bg;
	color: #222;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

	a {
		.animate();
	}

	// Login form
	#login-form {
		background: #fff;
		overflow: hidden;
		border-radius: 5px;
		margin-top: @gutter;

		h1 {
			.reset();
			padding: @gutter_sm @gutter;
			background: @c-main;
			font-size: 1.5em;
			color: #fff;
		}

		form {
			padding: @gutter;
			overflow: hidden;
		}

		button {
			float: right;
		}
		.checkbox {
			float: left;
		}
	}

	// Main container responsive fix
	#main-container {

		@media all and ( max-width: 992px ) {
			margin-top: 64px;
		}
	}
	// Main menu
	#menu-wrapper {
		padding: 0;
		background: @c-main;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		box-shadow: -5px 0 5px rgba( 0, 0, 0, 0.1 ) inset;

		#main-menu {

			@media all and ( max-width: 992px ) {
				// display: none;
				position: fixed;
				top: 0;
				left: -17em;
				width: 17em;
				height: 100%;
				background: @c-light;
				z-index: 999;
				.animate();

				&.open {
					left: 0;
				}
			}

			#branding {
				text-align: center;
				border-bottom: 2px solid @c-d-border;
				padding: @gutter_sm 0;

				img {
					width: 35%;
					height: auto;
				}
			}

			#toggle_mobile_menu {
				display: none;
				position: absolute;
				width: 64px;
				height: 64px;
				text-align: center;
				line-height: 64px;
				color: #fff;
				right: -64px;
				font-size: 2em;
				background: @c-light;
				cursor: pointer;
				top: 0;
				.animate();

				@media all and ( max-width: 992px ) {
					display: block;
				}

				&:hover {
					background: #fff;
					color: @c-light;
				}
			}

			ul {
				.reset();

				li {
					list-style: none;

					a {
						display: block;
						padding: @gutter_sm;
						color: @c-menu-txt;
						.animate();
						border-bottom: 2px solid @c-d-border;

						&:hover {
							text-decoration: none;
							background: @c-contrast;
							color: #fff;
						}
					}
				}
			}
		}
	}

	#top-bar {
		color: #fff;
		overflow: hidden;
		padding: @gutter_sm;
		background: @c-main-2;
		border-bottom: 1px solid @c-d-border;	

		@media all and ( max-width: 992px ) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 998;
			height: 64px;
		}

		#welcome {
			float: right;

			img {
				height: 30px;
				width: auto;
				padding-right: @gutter_sm;
			}	

			button {
				margin-left: @gutter_sm;
				.animate();
			}
		}
	}

	.content {
		padding: 0;
		// background: #ecf0f1;
		margin-left: 16.66666667%;

		@media all and ( max-width: 992px ) {
			margin-left: 0;
		}

		#taskbar {
			// background: @c-light;
			padding: @gutter_sm @gutter_sm 0;
			color: #fff;
			width: 100%;
			float: left;

			h1 {
				margin: 0;
				color: #222;
				font-weight: 100;
				float: left;
			}

			.buttons {
				float: right;
			}
		}

		#main {
			clear: both;
			padding: @gutter;

			h2 {
				margin: 0;
				background: @c-main;
				color: #fff;
				font-size: 1em;
				padding: @gutter_sm;
			}

			h3 {
				font-size: 1em;
			}

			.required {
				color: #bc0000;
			}

			.must-have-class {
				background: @c-border !important;
			}

			.info-block {
				background: #fff;
				padding: @gutter_sm;
				margin: 0;
				overflow: hidden;

				p {
					margin: 0;
				}

				ul {
					margin: 0;
				}
			}

			.styled-table {
				width: 100%;
				border-collapse: collapse;
				border: 0;

				td, th {
					padding: @gutter_sm;
					background: #fff;
					border: 1px solid @c-border;
				}

				td {

					a {
						color: #222;
						display: block;
						text-decoration: none;
					}

				}

				th {
					background: @c-main;
					color: #fff;
				}
			}

			.form {
				background: #fff;
				padding: @gutter_sm;
				overflow: hidden;

				button {
					float: right;
				}

				#task_steps {
					padding-left: @gutter_sm;
				}
			}
		}
	}
}