/*
	Template:	MyDay Admin Panel	
*/
body {
  background: #ecf0f1;
  color: #222;
  overflow-x: hidden;
}
body #login-form {
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 30px;
}
body #login-form h1 {
  margin: 0;
  padding: 0;
  padding: 15px 30px;
  background: #2c3e50;
  font-size: 1.5em;
  color: #fff;
}
body #login-form form {
  padding: 30px;
  overflow: hidden;
}
body #login-form button {
  float: right;
}
body #login-form .checkbox {
  float: left;
}
@media all and (max-width: 992px) {
  body #main-container {
    margin-top: 64px;
  }
}
body #menu-wrapper {
  padding: 0;
  background: #354b60;
}
@media all and (max-width: 992px) {
  body #menu-wrapper #main-menu {
    position: fixed;
    top: 0;
    left: -17em;
    width: 17em;
    height: 100%;
    background: #354b60;
    z-index: 999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
  }
  body #menu-wrapper #main-menu.open {
    left: 0;
  }
}
body #menu-wrapper #main-menu #toggle_mobile_menu {
  display: none;
  position: absolute;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  color: #fff;
  right: -64px;
  font-size: 2em;
  background: #354b60;
  cursor: pointer;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
}
@media all and (max-width: 992px) {
  body #menu-wrapper #main-menu #toggle_mobile_menu {
    display: block;
  }
}
body #menu-wrapper #main-menu #toggle_mobile_menu:hover {
  background: #fff;
  color: #354b60;
}
body #menu-wrapper #main-menu ul {
  margin: 0;
  padding: 0;
}
body #menu-wrapper #main-menu ul li {
  list-style: none;
}
body #menu-wrapper #main-menu ul li a {
  display: block;
  padding: 15px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
}
body #menu-wrapper #main-menu ul li a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}
body #top-bar {
  color: #fff;
  overflow: hidden;
  padding: 15px 30px;
  background: #2c3e50;
}
@media all and (max-width: 992px) {
  body #top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    height: 64px;
  }
}
body #top-bar #welcome {
  float: right;
}
body #top-bar #welcome img {
  height: 50px;
  padding-right: 15px;
}
body #top-bar #welcome button {
  margin-left: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
}
body .content {
  padding: 0;
  background: #ecf0f1;
}
body .content #taskbar {
  background: #354b60;
  padding: 15px 30px;
  color: #fff;
  width: 100%;
  float: left;
}
body .content #taskbar .buttons {
  float: right;
}
body .content #main {
  clear: both;
  padding: 30px;
}
body .content #main h2 {
  margin: 0;
  background: #2c3e50;
  color: #fff;
  font-size: 1em;
  padding: 15px;
}
body .content #main h3 {
  font-size: 1em;
}
body .content #main .required {
  color: #bc0000;
}
body .content #main .must-have-class {
  background: #354b60 !important;
}
body .content #main .info-block {
  background: #fff;
  padding: 15px;
  margin: 0;
  overflow: hidden;
}
body .content #main .info-block p {
  margin: 0;
}
body .content #main .info-block ul {
  margin: 0;
}
body .content #main .sortableTable {
  width: 100%;
}
body .content #main .sortableTable td,
body .content #main .sortableTable th {
  padding: 15px;
  background: #fff;
}
body .content #main .sortableTable td a {
  color: #222;
  display: block;
  text-decoration: none;
}
body .content #main .sortableTable th {
  background: #2c3e50;
  color: #fff;
}
body .content #main .form {
  background: #fff;
  padding: 15px;
  overflow: hidden;
}
body .content #main .form button {
  float: right;
}
body .content #main .form #task_steps {
  padding-left: 15px;
}
